<div class="title">
  Editing quote
</div>

<div class="form">
  <%= render 'form', quote: @quote %>

  <%= link_to 'Details', @quote,  class: "btn btn-info" %>
  <%= link_to 'Back', quotes_path,  class: "btn btn-primary" %>
</div>