<p id="notice"><%= notice %></p>

<div class="title">
  <h1>Passivos</h1>
</div>

<div class="facades">
    <% @facades.each do |facade| %>
        <%= link_to facade.name, facade_values_path(facade), class:"facade" %>
    <% end %>
</div>

<%= link_to 'Cadastrar novo Passivo', new_facade_path, class:"new" %>
