<div class="title">
  Editing stock: <%= @stock.name %>
</div>

<%= render 'form', stock: @stock %>

<%= link_to 'Details', @stock, class: "btn btn-info" %>
<%= link_to 'Back', stocks_path, class: "btn btn-primary" %>
