<p id="notice"><%= notice %></p>

<div class="title">
  <h1>Stocks</h1>
</div>

<div class="stocks">
    <% @stocks.each do |stock| %>
        <%= link_to stock.name, stock_path(stock), class:"stock" %>
    <% end %>
</div>

<%= link_to 'Register new Stock', new_stock_path, class:"new" %>
