<p id="notice"><%= notice %></p>

<div class="title">
  <h1>Summary</h1>
</div>

<% @accounts.each do |account| %>
    <div class="summary-account">
      <div class="summay-subtitle">
        <%= account.name %>
      </div>
      <% account.stocks.each do |stock| %>

      <div class="summary-chart">
        <%= line_chart Stock.pluck(:id).uniq.map{|i| {
            name: Stock.find(i).name,
            data: Stock.find(i).values.monthly_value
            } }, precision: 5 %>
      </div>

      # TODO Add a chart for total value of account monthly

      <div class="summary-stocks">
        <%= link_to stock.name, stock_summary_path(stock), class:"summary-stock" %>
      </div>
  </div>

  <% end %>
<% end%>