<p id="notice"><%= notice %></p>

<div class="title">
  <h1>Gráficos</h1>
</div>

<div class="stocks">
    <% @stocks.each do |stock| %>
        <%= link_to stock.name, chart_path(stock), class:"stock" %>
    <% end %>
</div>

<%= line_chart Stock.pluck(:id).uniq.map{|i| {
		name: Stock.find(i).name,
		data: Stock.find(i).values.monthly_value
		} } %>
<%# <%= link_to 'Cadastrar novo Passivo', new_stock_path, class:"new" %> %>
