/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 table, td, th { vertical-align: middle; border: none; }
 th { border-bottom: 1px solid #DDD; }
 body { margin: 0; }

nav {
    min-height: 38px;
    background-color: snow;
    font-weight: bolder;
    background-color: #333;
  }

nav a {
  margin-left: 15px;
  }

nav .dropdown {
  margin-left: 15px;
}
nav .dropdown:hover > .dropdown-content {
    display: block;
  }

  nav .dropdown-content {
    display: none;
    position: absolute;
    font-size: 18px;
  }

  nav .dropdown-content a {
    padding-bottom: 5px;
    color: white;
    background-color: #333;
  }

 nav a.navbar-brand {
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
 }

nav a.navbar-brand:hover {
 color: white;
 background-color: gray;
 font-family: Arial, Helvetica, sans-serif;
 text-decoration: none;
}

nav a.navbar-brand:visited {
 color: white;
 background-color: gray;
 font-family: Arial, Helvetica, sans-serif;
 text-decoration: none;
}

nav a {
margin-right: 15px;
}

.footer {
    background-color:#333;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}