// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title {
  width: 100%;
  height: 100px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stocks {
  height: 300px;
  background-color: yellow;
  display: flex;
}
.stock {
  height: 33px;
  background-color: goldenrod;
  display:inline-block;
  padding:0.3em 1.2em;
  margin: 20px;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Fira Code',sans-serif;
  font-size: 16px;
  font-weight:300;
  text-align:center;
  color: #000000;
  transition: all 0.2s;
}
button:hover{
  border-color: #FFFFFF;
}
@media all and (max-width:30em){
 button {
    display:block;
    margin:0.2em auto;
  }
}
.new {
  background-color:#007BFF;
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Fira Code',sans-serif;
  font-size: 16px;
  font-weight:300;
  text-align:center;
  color: #000000;
  transition: all 0.2s;
}
button:hover{
  border-color: #FFFFFF;
}
@media all and (max-width:30em){
 button {
    display:block;
    margin:0.2em auto;
  }
}
