<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">ZUKUNFT</a>
  <a class="btn btn-outline-success" href="/charts" role="button">SUMMARY
    </a>
  <div class="dropdown">
    <button class="btn btn-outline-primary">ACCOUNTS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a class="btn btn-outline-primary" href="/accounts">Overview</a>
      <a class="btn btn-outline-primary" href="/accounts/new">Create Account</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-outline-primary">STOCKS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a class="btn btn-outline-primary" href="/stocks">Overview</a>
      <a class="btn btn-outline-primary" href="/stocks/new">New Stock</a>
    </div>
  </div>
    <div class="dropdown">
    <button class="btn btn-outline-primary">QUOTES
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a class="btn btn-outline-primary" href="/quotes">Overview</a>
      <a class="btn btn-outline-primary" href="/quotes/new">Buy Quotes</a>
      <a class="btn btn-outline-primary" href="#">Sell Quotes</a>
    </div>
  </div>
    <div class="dropdown">
    <button class="btn btn-outline-primary">DIVIDENDS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a class="btn btn-outline-primary" href="/dividends">Overview</a>
      <a class="btn btn-outline-primary" href="/dividends/new">Register Dividend</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-outline-primary">PRICES
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a class="btn btn-outline-primary" href="/prices">Overview</a>
      <a class="btn btn-outline-primary" href="/prices/new">Register New Price</a>
    </div>
  </div>
    <div class="dropdown">
    <button class="btn btn-outline-primary">BALANCES
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a class="btn btn-outline-primary" href="/balances">Overview</a>
      <a class="btn btn-outline-primary" href="/balances/new">Register new balance</a>
    </div>
  </div>
</nav>