<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">ZUKUNFT</a>
  <a class="btn btn-outline-success" href="/charts" role="button">DETALHES
    </a>
  <div class="dropdown">
    <button class="btn btn-outline-primary">PASSIVOS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a class="btn btn-outline-primary" href="/facades">Visão Geral</a>
      <a class="btn btn-outline-primary" href="/facades/new">Novo Passivo</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-outline-primary">CONTAS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a class="btn btn-outline-primary" href="/accounts">Visão Geral</a>
      <a class="btn btn-outline-primary" href="/accounts/new">Cadastrar</a>
    </div>
  </div>
</nav>