<div class="title">
  Editing Account
</div>

<div class="form">
<%= render 'form', account: @account %>

<%= link_to 'Details', @account, class: "btn btn-info" %>
<%= link_to 'Back', accounts_path, class: "btn btn-primary" %>
</div>